<launch>
	<!-- Perception node: human detection -->
    <node name="perception_node" pkg="robot" type="perception_node.py" output="screen"/>

   	<!-- Maanger node: handle interaction (speech) -->
    <node name="manager_node" pkg="robot" type="manager_node.py" output="screen"/>
    
    <!-- Define the argument -->
    <arg name="launch_emotion_node" default="false" />
    	
    <arg name="emotion_condition" /> 
    <param name="emotion_condition" value="$(arg emotion_condition)"/>

    <arg name="open_webcam" default="true"/>
    <param name="open_webcam" value="$(arg open_webcam)"/>
    
    <!-- Emotion node: emotion recognition (launched only if open_webcam is True)-->
    <group if="$(arg open_webcam)">
        <node name="emotion_node" pkg="emotion" type="emotion_node.py" output="screen"/>
    </group>
</launch>
